*{
    padding:0;
    margin:0;
}
#container{
    width:560px;
    height:300px;
    overflow: hidden;
    position: relative;
}
#content{
    list-style: none;
    width:2000px;
    position: absolute;
    left:0;
    right:0;
}
.list{
    width:560px;
    float: left;
}
#moveLeft{
    width:100px;
}